':./GitHub(/<spaceth><>.//"
(Imuaniseniguanivasn>. -1
> <company comand and control>.
 Orders."<>

Build the a117aimvca rocket and the shuttle icvl413369
 '<enter>

Build the ssi"mars"rocket.
 "<enter>
